.PostCommentsComment__container {
  padding-block-end: 3rem;
  border-block-end: 1px solid var(--light-grey);
}

.PostCommentsComment__title {
  font-size: 4rem;
  line-height: 5rem;
  margin-block-end: 1rem;
  font-weight: 500;
}

.PostCommentsComment__author {
  font-size: 3rem;
  line-height: 4rem;
  color: var(--grey);
  margin-block-start: 1rem;
  text-align: end;
}

.PostCommentsComment__body {
  font-size: 3.5rem;
  line-height: 5rem;
}
