.Posts__container {
  width: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 0;
  padding: 10rem 10rem 0;
  background: #fff;
}

.Posts__loading {
  font-size: 4rem;
  line-height: 5rem;
}

.Posts__wrapper {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow: auto;
  padding: 2rem;
  margin: 3rem -2rem 0;
}

.Posts__title {
  color: var(--dark);
  font-size: 8rem;
  line-height: 10rem;
  font-weight: 700;
  margin: 0 0 3rem;
}

.SelectedPost__back {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  outline: none !important;
  color: var(--light-blue);
  width: fit-content;
  text-align: start;
  cursor: pointer;
}
