.PostDetails__text {
  font-size: 4.5rem;
  line-height: 6rem;
  color: var(--dark);
  padding-block-end: 3rem;
  border-block-end: 1px solid var(--light-grey);
}

.PostDetails__author {
  font-size: 3.5rem;
  line-height: 5rem;
  color: var(--grey);
  margin-block-end: 2rem;
}
